boost/
Eigen/
glm/
opencv/
openvr/
lib64-msvc-14.2/
build-KinectToVR-360-Desktop_Qt_5_15_0_MSVC2019_64bit-Release/
build-KinectToVR-One-Desktop_Qt_5_15_0_MSVC2019_64bit-Release/
build-KinectToVR-Desktop_Qt_5_15_0_MSVC2019_64bit-Release/
KinectToVR-360/KinectToVR-360.pro.user
KinectToVR-One/KinectToVR-One.pro.user
KinectToVR/KinectToVR.pro.user
*.user
/KinectToVR/.vs/KinectToVR/v16
/KinectToVR/debug
/KinectToVR/release
/KinectToVR/release/KinectToVR.tlog
/KinectToVR-360/debug
/KinectToVR-360/release
/KinectToVR/release/qmake
/KinectToVR-One/debug
/KinectToVR-One/release
/KinectToVR-360/.qmake.stash
/KinectToVR-One/.qmake.stash
/.vs/KinectToVR/v16
/KinectToVR-360/KinectToVR_EX.log
/KinectToVR-360/settings.cfg
/KinectToVR_API/x64/Release
/x64/Release

driver_KinectToVR/x64/

packages/

*.pdb

KinectToVR_API/x64/Debug/KinectToVR_API.log

KinectToVR/.qmake.stash

x64/

docs/K2API_example/.vs/

KinectToVR-360/KinectToVR_settings.xml

external/gflags/

external/glog/
